<div class="about row">

    <div class="col-md-8">

        <h2>まいにち</h2>

        <i style="font-size:120%">アニメと配信を見て、ゲームをやって、プログラムを書いて。</i>
        <br>

        <h3>As a fan</h3>
        
            <p>还是个管人粉，主要看彩虹（葵熊），也有在看VR。不过直播已经看得比较少了，新人也很少留意。</p>
            <p>主要是个动画宅。</p>
            <p>关注一点作画演出和各种幕后八卦。偶尔会写些与此相关的东西，Just For Fun。</p>
            <p>过去文章列表详见<a href="/works" target="_blank"> Works </a>。</p>
            <p>最喜欢的声优是黒沢ともよ，最喜欢的动画脚本家是綾奈ゆにこ，最喜欢的演出东映细田守？</p>
            <p>不喜欢的也很多但这里就不提了不然戾气太重。</p>
            <p>微博机器人<a href="https://weibo.com/u/5721599343" target="_blank">@sakugabooru</a>协助管理，
                如果有问题或意见可以直接跟我说。</p>
            <p>sakugabooru qq机器人（1262131302）运维，经常在群里发sakugabooru链接的群可拉入使用。</p>

        <h3>As a gamer</h3>
        
            <p>以前主玩FPS。现频率很低地偶尔玩日麻（雀魂、天凤）和galgame。整体而言比较少打游戏。</p> 
            <p>有空喜欢当云玩家（）对速通有不小兴趣但自己没练习的时间所以也只是云。</p> 
            <p>以前主要玩《OSU！》，也玩过一小阵BMS，现已AFK所有音游。</p> 
                  
        <h3>As a programmer</h3>
        
            <p>某不知名学校CS本科生。写Python、Java比较多，但都很菜。</p>
        <!--
        <h3>非代码项目</h3>

            <p><a href="https://docs.google.com/spreadsheets/d/1jal4wQ3D1nqb65auB1_VyQuRpE-0MCGbUSKbpNlQY0w/edit#gid=0" target="_blank">
                动画人推特/blog/HP综合表格
            </a>：编辑权限完全开放。详细说明请见<a href="https://bgm.tv/blog/276102" target="_blank">表格说明</a></p>
            //-->
        <h3>Other</h3>
        
            <p>称呼的话一般叫von就行。轻度虚无主义者，人类橙汁化促进协会会员。记忆力差请多原谅。</p>
            <p>微博非关注at&新粉丝提醒已关，像僵尸粉的号会移除粉丝，评论可能会被屏蔽，有事请私信或上方qq联系。一般活动时间为8:00~24:00。</p>
            <p><a href="http://t.cn/A6hLEDFn">质问箱</a>接受一切问题，基本都会在微博答。非问题也可以当作匿名信息发，明显不是问题的情况下不会回复但都会第一时间看到。</p>

        <img src="/other/about_pic_1.png" style="max-width:100%;"/>

<!--
        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>
//-->

    <!-- Comments -->
    {% include disqus-comments.html %}
    
</div>
</div>