<div class="about row">

    <div class="col-md-8">

        <h2>まいにち</h2>

        <i style="font-size:120%">アニメを見て、ゲームをやって、プログラムを書いて。</i>
        <br>

        <h3>As an anime fan</h3>
        
            <p>アイカツ</p>
            <p>现以新番为主，龟速补旧番。看什么片取决于当时心境。</p>
            <p>关注一点作画演出和各种幕后八卦。偶尔会写些与此相关的东西，Just For Fun。</p>
            <p>过去文章列表详见<a href="/works" target="_blank">Works</a>。</p>
            <p>最喜欢的声优是黒沢ともよ，最喜欢的（单集）动画脚本家是綾奈ゆにこ。</p>
            <p>冈黑、京黑以及各种“吹爆”黑，但尽可能不主动去骂片，也不要在意我偶尔黑什么的理由。看片还是轻松淳朴点好。</p>
            <p>微博机器人<a href="https://weibo.com/u/5721599343" target="_blank">@sakugabooru</a>协助管理，
                平时主要管tag的翻译问题，不过如果有其他问题或意见也可以直接跟我说。</p>
            <p>sakugabooru qq机器人（1262131302）运维，经常在群里发sakugabooru链接的群可拉入使用。</p>

        <h3>As a gamer</h3>
        
            <p>现主要玩日麻（雀魂、天凤）和galgame，不玩其他网游。</p> 
            <p>以前主要玩《OSU！》，AFK了很长一段时间，现偶尔打打新歌。<a href="https://osu.ppy.sh/u/1383131" target="_blank">个人主页</a></p> 
                  
        <h3>As a programmer</h3>
        
            <p>某不知名大学CS本科生。平时主要写python的小东西，也会一点点js。大部分项目皆托管在GitHub上。</p>
        
        <h3>非代码项目</h3>

            <p><a href="https://docs.google.com/spreadsheets/d/1jal4wQ3D1nqb65auB1_VyQuRpE-0MCGbUSKbpNlQY0w/edit#gid=0" target="_blank">
                动画人推特/blog/HP综合表格
            </a>：编辑权限完全开放。详细说明请见<a href="https://bgm.tv/blog/276102" target="_blank">表格说明</a></p>
            
        <h3>Contact</h3>
        
            <p>称呼的话一般叫von就行，不过不希望后缀加“大”之类的词，平等是交流的前提。id并没什么含义只是旧id各种演变来觉得比较好看不易重复而已。</p>
            <p>微博非关注at&新粉丝提醒已关，像僵尸粉的号会移除粉丝，评论可能会被屏蔽，有事请私信或上方qq联系。一般活动时间为8:00~24:00。</p>
            <p>上方ask.fm和下方质问箱接受一切问题，基本都会答，质问箱的问题会在微博答。预计答案会比较长的问题请尽量用ask.fm！</p>
            <p>顺便本站大部分页面都有评论区，只是服务在墙外的样子，已设置了评论提醒。</p>
            <ul>
                <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
                <li>质问箱：<a href="https://peing.net/zh-CN/1a84e474393ea3">https://peing.net/zh-CN/1a84e474393ea3</a></li>
            </ul>

        <img src="https://ws1.sinaimg.cn/large/97de980agy1fmfdt53uhxj20zk0k0akf.jpg" style="max-width:100%;"/>

<!--
        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>
//-->

    <!-- Comments -->
    {% include disqus-comments.html %}
    
</div>
</div>